BOT_TOKEN=Your bot token
AI_TOKEN=Your ai token
CHANNEL_ID=Channel ID for monthly reports
CHANNEL_ID_DAILY=Channel ID for daily appointment
MOBILE_PHONE=Service's phone number
OWNER=Owner TG_ID
ADMIN_ID=TG_ID,TG_ID